.addHouseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  & input[type="text"] {
    width: 100%;
    border: none;
    background-color: #eef1ee;
    padding: 1rem 1rem;
    padding-left: auto;

    &::placeholder {
      text-align: center;
    }
  }
}

input[type="submit"] {
  width: calc(100% - 3rem);
  max-width: 400px;
  border: none;
  border-radius: 48px;
  padding: 1rem 0;
  background-color: #66d36e;
  margin: 0.75rem 1.5rem 1.5rem;
}

.houses {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.error {
  color: red;
  text-align: center;
}
