.header {
  text-align: center;
  font-size: 2rem;
}

.addHouseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.houses {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
