/* CSS Reset */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter";
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset form element styles */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Reset button styles */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Additional resets or custom styles can be added as per your requirements */

/* End of CSS Reset */
